In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [107]:
flights=pd.read_csv("flights.csv")
flights.head(100)

C:\Users\anilkrishna\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015,1,1,4,B6,2001,N358JB,BUF,JFK,535,...,648.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
96,2015,1,1,4,B6,2807,N190JB,PWM,JFK,535,...,635.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
97,2015,1,1,4,B6,2023,N324JB,JFK,SJU,535,...,1039.0,19.0,0,0,NaN,0.0,0.0,19.0,0.0,0.0
98,2015,1,1,4,EV,4557,N12967,CRP,IAH,535,...,615.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
99,2015,1,1,4,EV,5241,N849AS,PIA,DTW,535,...,745.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
varaibles_to_remove=['YEAR','FLIGHT_NUMBER',
       'TAIL_NUMBER','ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
        'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY','WHEELS_ON','WHEELS_OFF','AIR_TIME','ELAPSED_TIME','SCHEDULED_TIME']

In [109]:
flights.drop(varaibles_to_remove,axis=1,inplace=True)

In [110]:
flights.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'DISTANCE', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_DELAY'],
      dtype='object')

In [111]:
flights = flights.sample(n=50000)

In [112]:
flights.isnull().sum()

MONTH                    0
DAY                      0
DAY_OF_WEEK              0
AIRLINE                  0
SCHEDULED_DEPARTURE      0
DEPARTURE_TIME         801
DEPARTURE_DELAY        801
TAXI_OUT               826
DISTANCE                 0
TAXI_IN                858
SCHEDULED_ARRIVAL        0
ARRIVAL_DELAY          970
dtype: int64

In [113]:
flights=flights.dropna()

In [114]:
flights.isnull().sum()

MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
DISTANCE               0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_DELAY          0
dtype: int64

In [115]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [116]:
flights.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'DISTANCE', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_DELAY'],
      dtype='object')

In [117]:
mm=flights[['MONTH', 'DAY', 'DAY_OF_WEEK',  'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME',  'TAXI_OUT', 'DISTANCE', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_DELAY']]

In [118]:
mm.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'DISTANCE', 'TAXI_IN', 'SCHEDULED_ARRIVAL',
       'ARRIVAL_DELAY'],
      dtype='object')

In [119]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(mm.values, i) for i in range(mm.shape[1])]
vif["features"] = mm.columns

In [120]:
vif

   VIF Factor             features
0    4.101301                MONTH
1    3.744223                  DAY
2    4.210247          DAY_OF_WEEK
3  137.151983  SCHEDULED_DEPARTURE
4  138.514966       DEPARTURE_TIME
5    4.001536             TAXI_OUT
6    2.783270             DISTANCE
7    2.663241              TAXI_IN
8   18.696401    SCHEDULED_ARRIVAL
9    1.177778        ARRIVAL_DELAY

In [121]:
mm=pd.DataFrame(flights)

In [122]:
mm["AIRLINE"].head(40)

397317     UA
1816109    MQ
4005333    EV
3942423    B6
516851     NK
4856702    MQ
4673857    OO
4464853    WN
4700131    NK
1510759    UA
565326     AS
789273     WN
3916506    WN
1504109    EV
1267719    AA
3159222    DL
2128104    DL
5265774    NK
3471276    VX
3951432    WN
3266352    OO
4789051    AA
2518804    US
1106442    AA
374301     AA
3142459    UA
1961586    HA
2083386    WN
2863107    EV
4842240    WN
5337886    DL
3785167    OO
5559606    MQ
5047461    DL
4596634    DL
3441319    NK
1389419    WN
3365041    UA
2386335    EV
3709374    DL
Name: AIRLINE, dtype: object

In [123]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder = LabelEncoder()
mm['AIRLINE']= label_encoder.fit_transform(mm['AIRLINE'].astype('category'))

mm.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
397317,1,27,2,10,735,733.0,-2.0,29.0,622,18.0,850,8.0
1816109,4,26,7,7,1552,1633.0,41.0,12.0,522,9.0,1738,28.0
4005333,9,6,7,4,1341,1341.0,0.0,8.0,458,6.0,1514,-7.0
3942423,9,2,3,2,1030,1022.0,-8.0,11.0,2381,8.0,1832,-19.0
516851,2,4,3,8,750,750.0,0.0,15.0,1389,8.0,1200,-13.0

In [124]:
mm.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'DISTANCE', 'TAXI_IN',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_DELAY'],
      dtype='object')

In [125]:
mm.shape

(49030, 12)

In [126]:
mm.dtypes

MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                  int32
SCHEDULED_DEPARTURE      int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
DISTANCE                 int64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_DELAY          float64
dtype: object

In [127]:
mm.head(10)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
397317,1,27,2,10,735,733.0,-2.0,29.0,622,18.0,850,8.0
1816109,4,26,7,7,1552,1633.0,41.0,12.0,522,9.0,1738,28.0
4005333,9,6,7,4,1341,1341.0,0.0,8.0,458,6.0,1514,-7.0
3942423,9,2,3,2,1030,1022.0,-8.0,11.0,2381,8.0,1832,-19.0
516851,2,4,3,8,750,750.0,0.0,15.0,1389,8.0,1200,-13.0
4856702,10,30,5,7,1755,1753.0,-2.0,24.0,196,4.0,1858,1.0
4673857,10,19,1,9,945,940.0,-5.0,26.0,272,3.0,1047,9.0
4464853,10,6,2,13,615,626.0,11.0,17.0,1491,4.0,1140,1.0
4700131,10,20,2,8,1943,2013.0,30.0,12.0,2106,7.0,2150,17.0
1510759,4,7,2,10,1550,1603.0,13.0,19.0,679,8.0,1755,5.0

In [128]:
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [129]:
final_data=mm

In [130]:
X=final_data.drop("DEPARTURE_DELAY",axis=1)
Y=final_data.DEPARTURE_DELAY

In [131]:
X.head(10)

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_DELAY
397317,1,27,2,10,735,733.0,29.0,622,18.0,850,8.0
1816109,4,26,7,7,1552,1633.0,12.0,522,9.0,1738,28.0
4005333,9,6,7,4,1341,1341.0,8.0,458,6.0,1514,-7.0
3942423,9,2,3,2,1030,1022.0,11.0,2381,8.0,1832,-19.0
516851,2,4,3,8,750,750.0,15.0,1389,8.0,1200,-13.0
4856702,10,30,5,7,1755,1753.0,24.0,196,4.0,1858,1.0
4673857,10,19,1,9,945,940.0,26.0,272,3.0,1047,9.0
4464853,10,6,2,13,615,626.0,17.0,1491,4.0,1140,1.0
4700131,10,20,2,8,1943,2013.0,12.0,2106,7.0,2150,17.0
1510759,4,7,2,10,1550,1603.0,19.0,679,8.0,1755,5.0

In [132]:
Y.head(10)

397317     -2.0
1816109    41.0
4005333     0.0
3942423    -8.0
516851      0.0
4856702    -2.0
4673857    -5.0
4464853    11.0
4700131    30.0
1510759    13.0
Name: DEPARTURE_DELAY, dtype: float64

In [133]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [134]:
from sklearn.ensemble import RandomForestRegressor
reg_rf = RandomForestRegressor()
reg_rf.fit(X_train,y_train)

C:\Users\anilkrishna\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [135]:
y_pred = reg_rf.predict(X_test)

In [136]:
reg_rf.score(X_train,y_train)

0.9913615868656621

In [137]:
reg_rf.score(X_test,y_test)

0.9589292655478181

In [138]:
metrics.r2_score(y_test,y_pred)

0.9589292655478181

In [139]:
print('MAE:', metrics.mean_absolute_error(y_test,y_pred))
print('MSE:', metrics.mean_squared_error(y_test,y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MAE: 5.107852335304915
MSE: 61.44482969610443
RMSE: 7.838675251348561

In [140]:
pp=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
pp.head(10)

         Actual  Predicted
3171990    -5.0       15.7
1152655    18.0        1.0
4268580    -5.0        8.3
2615243   -11.0       12.8
2921144     0.0        5.1
739991    102.0       84.1
1372191    -5.0       -0.7
1215176    -6.0       -2.4
5458987    -6.0       -3.8
2019419     5.0        3.8

In [141]:
from sklearn.model_selection import RandomizedSearchCV

In [142]:
#Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 10, stop = 200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

In [143]:
# Create the random grid

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

In [144]:
# Random search of parameters, using 5 fold cross validation, 
# search across 100 different combinations
rf_random = RandomizedSearchCV(estimator = reg_rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)

In [145]:
rf_random.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=  10.2s
[CV] n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   10.2s remaining:    0.0s

[CV]  n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   9.9s
[CV] n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   9.9s
[CV] n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   9.7s
[CV] n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=148, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=  10.2s
[CV] n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=  18.0s
[CV] n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=  17.8s
[CV] n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=  17.8s
[CV] n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=  17.9s
[CV] n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=182, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=  17.7s
[CV] n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  11.5s
[CV] n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  11.5s
[CV] n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  11.3s
[CV] n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  11.4s
[CV] n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=44, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  11.3s
[CV] n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  18.9s
[CV] n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  19.0s
[CV] n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  19.1s
[CV] n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  18.9s
[CV] n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=61, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  19.1s
[CV] n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=  34.7s
[CV] n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=  35.1s
[CV] n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=  34.9s
[CV] n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=  34.9s
[CV] n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=  35.1s
[CV] n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=  26.8s
[CV] n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=  26.9s
[CV] n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=  27.0s
[CV] n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=  26.9s
[CV] n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=165, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=  26.9s
[CV] n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   6.4s
[CV] n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   6.3s
[CV] n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   6.1s
[CV] n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   6.3s
[CV] n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=182, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   6.5s
[CV] n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   4.1s
[CV] n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   4.3s
[CV] n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   4.3s
[CV] n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   4.4s
[CV] n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=44, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   4.1s
[CV] n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   3.8s
[CV] n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5

[CV]  n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   3.9s
[CV] n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   3.9s
[CV] n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   3.8s
[CV] n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=113, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   4.0s
[CV] n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  40.2s
[CV] n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  39.8s
[CV] n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  40.4s
[CV] n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  40.0s
[CV] n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=113, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  40.1s

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed: 14.6min finished

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=10, n_jobs=None,
                                                   oob_score=False,
                                                   random_state=N...
                   iid='warn', n_iter=10, n_jobs=1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [10, 27, 44, 61, 79, 96,
                                                         113, 130, 148, 165,
                                                         182, 200]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=2)

In [146]:
rf_random.best_params_

{'n_estimators': 113,
 'min_samples_split': 15,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 20}

In [147]:
p=rf_random.predict(X_test)

In [148]:
metrics.r2_score(y_test,p)

0.9560054303220847

In [149]:
print('MAE:', metrics.mean_absolute_error(y_test,p))
print('MSE:', metrics.mean_squared_error(y_test,p))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test,p)))

MAE: 4.849055309396628
MSE: 65.81910154444036
RMSE: 8.112897234924176

In [150]:
zz=pd.DataFrame({'Actual':y_test,'Predicted':p})
zz.head(30)

         Actual   Predicted
3171990    -5.0    8.646922
1152655    18.0    0.989541
4268580    -5.0    3.202062
2615243   -11.0   11.508111
2921144     0.0    0.334354
739991    102.0   93.654697
1372191    -5.0   -4.035949
1215176    -6.0   -1.814939
5458987    -6.0   -4.127692
2019419     5.0    6.898995
4443526    12.0   -1.716967
4975262    -6.0   -3.426725
5356826    -7.0   -3.655083
4749018     0.0   -2.409282
254006     -4.0   -7.920878
491206     -5.0   -2.659941
1978450    -6.0   -6.468191
5774484   161.0  136.131708
134548     21.0    1.127510
140128    110.0  106.400317
3940735    -3.0   -2.940093
1968144    -3.0   -1.570510
5349194     0.0   -2.501611
3255354    -7.0   -2.925207
186515     -3.0   -3.618669
4910732    -6.0   -4.926996
5341888     1.0    3.991331
4945253    -5.0   -1.853151
3127463     3.0    0.347629
4416474    -5.0   -2.346887

In [151]:
from sklearn.ensemble import GradientBoostingRegressor

In [152]:
gbr=GradientBoostingRegressor(random_state=0)

In [153]:
GBR=gbr.fit(X_train,y_train)

In [154]:
pre =GBR.predict(X_test)

In [155]:
print('MAE:', metrics.mean_absolute_error(y_test,pre))
print('MSE:', metrics.mean_squared_error(y_test,pre))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test,pre)))

MAE: 4.809210188587205
MSE: 54.537641211389875
RMSE: 7.384960474599026

In [156]:
metrics.r2_score(y_test,pre)

0.9635461438998281

In [157]:
gg=pd.DataFrame({'Actual':y_test,'Predicted':pre})
gg.head(20)

         Actual   Predicted
3171990    -5.0    6.966567
1152655    18.0   -0.035525
4268580    -5.0    3.829485
2615243   -11.0   -3.987743
2921144     0.0   -1.715599
739991    102.0   94.549115
1372191    -5.0   -4.266129
1215176    -6.0   -2.174732
5458987    -6.0   -2.741759
2019419     5.0    8.733896
4443526    12.0   -2.363165
4975262    -6.0   -4.014577
5356826    -7.0   -4.679300
4749018     0.0   -2.625225
254006     -4.0   -5.414260
491206     -5.0   -3.694620
1978450    -6.0   -4.437063
5774484   161.0  140.994784
134548     21.0    1.128815
140128    110.0  116.482728

In [158]:
def predict(MONTH, DAY,DAY_OF_WEEK,AIRLINE,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,
       DISTANCE,TAXI_IN,SCHEDULED_ARRIVAL, ARRIVAL_DELAY):
    
    x= np.zeros(len(X.columns))
    x[0] = MONTH
    x[1] = DAY
    x[2] = DAY_OF_WEEK
    x[3] = AIRLINE
    x[4] = SCHEDULED_DEPARTURE
    x[5] = DEPARTURE_TIME
    x[6] = TAXI_OUT
    x[7] = DISTANCE
    x[8] = TAXI_IN
    x[9] = SCHEDULED_ARRIVAL
    x[10] = ARRIVAL_DELAY
  
   
        

     
    return gbr.predict([x])[0]

In [159]:
predict(1,27,2,10,735,733.0,29.0,622,18.0,850,8.0)

-2.1441372406642105

In [87]:
flights.loc[5669232,:]

MONTH                   12
DAY                     22
DAY_OF_WEEK              2
AIRLINE                 UA
SCHEDULED_DEPARTURE    743
DEPARTURE_TIME         746
DEPARTURE_DELAY          3
TAXI_OUT                18
DISTANCE               964
TAXI_IN                 10
SCHEDULED_ARRIVAL      940
ARRIVAL_DELAY           -1
Name: 5669232, dtype: object

In [88]:
predict(12,22,2,743,746.0,18.0,964,10.0,940,-1.0,'AIRLINE_UA')

0.5510525478710845

In [160]:
predict(4,26,7,7,1552,1633.0,12.0,522,9.0,1738,28.0)

30.036990871936663

In [161]:
import pickle
with open ('zz.pickle','wb') as f:
    pickle.dump(gbr,f)